*{
    font-family: 'Quicksand', sans-serif;
}


body {
    background-color: #D7FAFF;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;

    align-items: center;
}

header {
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    justify-content: space-around;
    margin-bottom: -20px;
}

header h1{
    margin-left: -50px;

}

.SubHeader{
    margin: 0;
    padding: 0;
    border: 0;
    margin-top: -20px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    margin-top: -20px;
    width: 10em; /* Ajustar si es necesario para pantallas más pequeñas */
}

.menu-pagos {
    display: flex;
    justify-content: center;
    
}



footer {
    width: 100%;
    margin-top: auto;
    padding: 2em 0;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

.exit-btn {
    font-weight: bold;
    font-size: large;
    background-color: #00162D;
    color: white;
    padding: 1em 4em;
    border: none;
    border-radius: .5em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.exit-btn:hover {
    background-color: #0056b3;
}

.exit-btn:focus, .exit-btn:active {
    outline: none;
    border: .1em solid #0056b3;
    background-color: #003366;
}


#exit-btn, #back-btn {
    background-color: #770000;
}

#exit-btn:hover, #back-btn:hover {
    background-color: #ff0000;
}


.contenedor {
    background-color: #D9D9D9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 70%;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.headCon {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.movimiento {
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 13px;
}

.movimiento p {
    margin: 10px;
    flex: 1;
    text-align: center;
}

.monto {
    color: red;
    font-weight: bold;
}
